body {
  background-color: #4747d1;
  /*background: max.jpg;*/

}


#main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#profilephoto {
  border-radius: 80%;
}

#introtext {
  background-color: #00ffcc;
      border-radius: 10%;

     border-color: #00ffcc;
     margin-top: 10%;
     margin-left: 3%;
}

#projectSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.projectClass {

}
