@media screen and (max-width:959px) {
#main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  }
#projectSection {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
   }
}
#profilephoto {
  margin-top: 8%;
  width:70%;
}
#introtext {
  width:34%;
}
.header{
  display:flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
   align-content: flex-start;
   align-items: center;
}
.social-icons{
  display: inline;
}
.title{
  font-size: 3em;
  padding: 4%;
  margin: 0;
  margin-top: 3%;
  content: 442px;
  background-color: rgba(255, 245, 0, 0.8);
  background-image: url('../assets/Flag_of_Kyrgyzstan.svg.png');
  background-size: cover;
  border-radius: 10px;
  border-style: dashed;
  border-width: 3px;
}
article {
  width:24%;
}
/*this line below will stack it up for smaller screens, because 100+100=200% is bigger then container 100%*/

@media screen and (max-width:640px) {
#profilephoto {
  width: 100%;
}
#introtext {
    width: 100%;
}
article {
  width:80%;
  }
}
