#centerSection {
  width: 960px;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2%;
}
#profilephoto {
  border-radius: 80%;
}
#introtext {
  background-color: #00ffcc;
   border-radius: 10%;
   margin-top: 10%;
   margin-left: 3%;
}
#projectSection {
  display: flex;
  flex-direction: row;
  justify-content:  space-around;
  flex-wrap: wrap;
}
article {
  background-color: #990033;
  border-radius: 9%;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
  /*height: 7em;*/
}
/*.article-class {
  display: none;
}*/
span {
  margin: 20%;

}
#filter {
 margin-top: 1.5%;
 margin-left: 1.5%;
}
#navid {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.navclass {
  width: 10%;
  height: 1.5%;
  margin: 2.5%;
  background-color: #99ff99;
}
#handlebarSection {
  display: flex;
  flex-direction: row;
  justify-content:  space-around;
  flex-wrap: wrap;
}
