#main {
  width: 960px;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2%;
}
#profilephoto {
  border-radius: 50%;
  border-style: dashed;
  border-color: black;
  border-width: 3px;
  border-spacing: 2px;
  padding: 5px;
}
#introtext {
  background-color: rgb(255, 186, 0);

   border-radius: 10%;
   margin-top: 10%;
   margin-left: 3%;
}
#projectSection {
  display: flex;
  flex-direction: row;
  justify-content:  space-around;
  flex-wrap: wrap;
}
article {
  background-color: rgb(52, 216, 0);
  border-radius: 9%;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
  /*height: 7em;*/
}
.social-icons {
  display: flex;
  flex-direction: column;
  justify-content:center;
  margin-left: 2%;
  position: fixed;
}
.article-class {
  display: none;
}
span {
  margin: 20%;
}
